/* src/App.css */
.App {
  text-align: center;
  margin-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
h1 {
  font-size: 36px;
  margin-bottom: 30px;
  color: #010306; /* Dodger Blue */
  font-family: 'Roboto', sans-serif; /* Apply Roboto font */
}

.controls-container {
  display: flex;
  justify-content: space-around;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.controls h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #555;
}

.controls input[type="color"] {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.preview {
  width: 500px; /* Updated width */
  height: 400px; /* Updated height */
  margin: 0 auto 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.preview:hover {
  transform: scale(1.05);
}

.download-button {
  margin-top: 20px;
}

.download-button button {
  width: 300px; /* Make the download buttons wider */
  margin: 10px; /* Add some margin around the buttons */
}